.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.40);
    z-index: 50;
}

.alert-box{
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 50vw;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

}

.alert-box img {
	/*border-radius: 8px;
	max-width: 100%;
  	height: auto;*/ 
	margin: auto;
  	display: block;
  	width: 80%;
  	max-width: 400px;
}


