<!-- 
    centro: post altri utenti
-->
<div class="body">
    <article>
        <div class="content">
            <section>
                <div class="card">
                    <div class="card-title">
                        <div class="card-avatar"></div>
                        <div class="example-title">Original Image</div>
                    </div>
                    <div class="card-photo">
                    </div>
                    <div class="card-footer"></div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <div class="card-avatar"></div>
                        <div class="example-title">Brightness</div>
                    </div>
                    <div class="card-photo brightness">
                    </div>
                    <div class="card-footer"></div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <div class="card-avatar"></div>
                        <div class="example-title">Contrast</div>
                    </div>
                    <div class="card-photo contrast">
                    </div>
                    <div class="card-footer"></div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <div class="card-avatar"></div>
                        <div class="example-title">Grayscale</div>
                    </div>
                    <div class="card-photo grayscale">
                    </div>
                    <div class="card-footer"></div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <div class="card-avatar"></div>
                        <div class="example-title">Hue Rotate</div>
                    </div>
                    <div class="card-photo hue-rotate">
                    </div>
                    <div class="card-footer"></div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <div class="card-avatar"></div>
                        <div class="example-title">Invert</div>
                    </div>
                    <div class="card-photo invert">
                    </div>
                    <div class="card-footer"></div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <div class="card-avatar"></div>
                        <div class="example-title">Sepia</div>
                    </div>
                    <div class="card-photo sepia">
                    </div>
                    <div class="card-footer"></div>
                </div>
            </section>
        </div>
    </article>
    
    <!-- 
        destra: sezione messaggi
    -->
    
</div>
