.body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    user-select: none;
    font-family: 'Roboto';
}

header {
    font-family: 'Pacifico';
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    min-height: 70px;
    width: 100%;
}
header h2 {
    font-weight: 300;
    margin: 0;
}

article {
    background-color: #fafafa;
    flex: 1;
}

article .content {
    max-width: 640px;
    margin: 0 auto;
}

article .content section {
    margin-top: 20px;
}

.card {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.card .card-title {
    border: 1px solid rgba(0,0,0,.0975);
    height: 26px;
    padding: 16px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.card .card-title .card-avatar {
    border-radius: 50%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png");
    width: 40px;
    height: 40px;
}

.card .card-title .example-title {
    padding-left: 15px;
    font-weight: 600;
    font-size: 1.1em;
}

.card .card-photo {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png");
    height: 400px;
}

.card .card-photo.brightness {
    filter: brightness(1.5);
}

.card .card-photo.contrast {
    filter: contrast(200%);
}

.card .card-photo.drop-shadow {
    filter: drop-shadow(16px 16px 20px blue);
}

.card .card-photo.grayscale {
    filter: grayscale(100%);
}

.card .card-photo.hue-rotate {
    filter: hue-rotate(90deg);
}

.card .card-photo.invert {
    filter: invert(75%);
}

.card .card-photo.sepia {
    filter: sepia(100%);
}


.card .card-photo.saturate {
    filter: saturate(30%);
}