<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="loading" *ngIf="!loadingProfile">loading...</div>
            <form *ngIf="loadingProfile" (ngSubmit)="onSumbit()" #f="ngForm">
                <h3>Nickname:</h3>
                <input 
                        type="text"
                        class="form-control"
                        name="nickname"
                        [(ngModel)]="profile.nickname">
                <h3>Nome:</h3>
                <input 
                        type="text"
                        class="form-control"
                        name="nome"
                        [(ngModel)]="profile.nome">
                <h3>Biografia:</h3>
                <input 
                        type="text" 
                        class="form-control"
                        name="biografia"
                        [(ngModel)]="profile.biografia">
                <h3>Propic:</h3>
                <input 
                        type="text" 
                        class="form-control"
                        name="proPic"
                        [(ngModel)]="profile.proPic">
                <button 
                        type="submit"
                        class="btn btn-primary">
                    modifica
                </button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    <!-- 
        eventualmente, cambio email e password
    -->
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

        </div>
        <div class="col-3"></div>
    </div>
</div>